@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .loader {

        @apply ease-linear rounded-full border-8 border-t-8 border-gray-200 h-32 w-32

    }


}

.loader {
    border-top-color: #3498db !important;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input {
    @apply bg-white border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal
}

input:focus {
    @apply outline-none shadow-outline
}

.input-error {
    @apply text-red-500 text-xs italic
}

.btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded
}

.btn:hover {
    @apply bg-blue-700
}

.btn:focus {
    @apply outline-none shadow-outline
}

.form-group {
    @apply mb-4
}

label {
    @apply block text-gray-700 text-sm font-bold mb-2
}

.disabled {
    @apply opacity-50 cursor-not-allowed;
}
